* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-color: blue;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    color: green;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 25px;
    width: 100%;
    border-radius: 8px;
}

.display img {
    width: 20px;
    cursor: pointer;
}

.display input {
    outline: 0;
    border: 0;
    font-size: 20px;
}

.container button img {
    width: 24px;
}

.container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #019f55;
    outline: 0;
    border: 0;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}